.g-header-wrap
  width 100%
  top 0
  left 0
  background-color color-purple

.g-header
  height g-header-height
  text-align right
  sans 600

.g-header-logo
  float left
  line-height g-header-height

.g-header-search
  position relative
  inline-block()
  color color-type-secondary
  width 100%
  padding (grid-gutter/2) 0

  @media mq-med
    width 25rem
    padding 0

  .twitter-typeahead
    width 100%

input.g-header-search-input
  type-regular()
  border-radius 10rem
  height g-header-search-mobile-height
  line-height g-header-search-mobile-height
  padding 0 g-header-search-input-padding
  color color-type
  width 100%

  +placeholder()
    line-height g-header-search-mobile-height

  @media mq-med
    height g-header-search-height
    line-height g-header-search-height

    +placeholder()
      line-height g-header-search-height

.g-header-search-submit
  remove-button()
  line-height 1em
  position absolute
  right g-header-search-input-padding
  top 50%
  margin-top -0.5em
  type-regular()
  line-height 1em
  color color-green

.g-header-nav
  ul-reset()
  type-regular() 
  display none
  position absolute
  top 0 
  left 0
  width 100%
  text-align left
  padding grid-page-gutter-mobile
  padding-top g-header-height 
  background-color color-purple
  box-shadow 0 0.1rem 0.5rem rgba(color-black, 0.15)

  .user-name
    ellipsis()

    @media mq-med
      max-width 13rem

  @media mq-med
    inline-block(true)
    position relative
    text-align inherit
    background none
    padding 0
    width auto
    box-shadow 0 0 0 0

    > *
      inline-block()
      margin-left g-header-nav-space

  {class-list-header-links}
    text-transform capitalize
    display block
    padding 0.75rem 0
    line-height inherit


    @media mq-med
      inline-block()
      margin-right 0
      line-height g-header-height
      padding 0

  .btn
    background-color color-purple
    color white
    font-weight bold
    box-shadow 0px 0px 2px rgba(white, 0.3)

  .mod-dropdown-trigger
    @media mq-med-desk
      margin-top 1rem
      border-top border-secondary

  @media mq-med-desk
    .mod-dropdown
      box-shadow none 

      a
        margin-bottom 0
        padding 0.5rem 1.5rem
        color color-type-secondary

  .credit-badge
    color orange
    text-shadow 0px 0px 5px yellow

  .my-application-nav
    @media mq-med
      span
        display: none

  #userMenu
    white-space: nowrap
    max-width: 10em
    overflow: hidden
    text-overflow: ellipsis
    margin: 15px

  .dropdown-menu
    background-color color-purple

    a
      margin-left 0
      color white
      &:hover
        background-color lighten(color-purple, 10)
        color darken(white, 15)
    @media mq-med
      margin-top: -15px

  // Duplicate bs3 style for collapsed dropdown-menu
  @media only screen and (max-width: mq-med-width)
    .dropdown-menu
      position static
      width auto
      margin-top 0px
      background-color transparent
      border 0px none
      box-shadow none

      // undo pull-right
      &.pull-right
        left 0
        right auto
        float none !important

  .tt-dropdown-menu
    padding: 0px
    border-radius: 4px
    background-color white
    width 300px

    @media mq-med-desk
      box-shadow: 0px 1px 5px rgba(black, 0.35)

  .typeahead-question
    cursor: pointer
    padding: 0.5em
    padding-bottom: 1em
    text-align: left
    border-radius: 2px

  .typeahead-question:hover
    background-color: color-purple
    color: white

  .typeahead-question .upvotes
    display: inline-block
    vertical-align: baseline
    background-color: #fca
    border-radius: 1em
    width: 2em
    text-align: center
    color: black

  .typeahead-question .title
    text-transform: none
    font-weight: normal


.g-header-hamburger
  display block
  float right
  background none
  border 0
  height g-header-height

  @media mq-med
    display none

.g-header-hamburger-bar
  display block
  width 2.25rem
  height 0.35rem
  margin 0.35rem 0
  background-color color-white

.g-header-touts-section
  position relative
  border-bottom border-seconday-light

  .icon-carat-right
    type-small()

.g-header-touts-section-close
  position absolute
  right layout-space
  top 50%
  margin-top -0.5em
  padding-left 1em // make sure it's big enough for fat fingers
  type-small()
  line-height 1em !important

.g-header-touts-sponsor-img
  padding 0.25rem
  background-color color-white
  border-radius 0.4rem
  position absolute
  left layout-space
  top 50%
  height g-header-touts-sponsor-height
  width g-header-touts-sponsor-height
  margin-top -(g-header-touts-sponsor-height/2)

  img
    display block

.g-header-touts-sponsor-text
  float left
  display block
  margin-left g-header-touts-sponsor-height + 1rem
  margin-top 1.2rem
  line-height 1.2 !important

.g-header-search-wrap
  position relative
  mod-space()

  @media mq-med
    margin 0
    inline-block()

  .g-header-search
    padding-left 3rem

    @media mq-med
      max-width 20rem

  .g-header-search-magnifying-glass
    position absolute
    left 1em
    top 50%
    margin-top -0.7em
    color color-type-secondary
    type-small()

.g-flex-grid
  display: flex
  flex-direction column
  @media mq-med
    flex-direction row

.g-flex-grow
  flex-grow 1
