pg-bot-answers-width = 25%

.pg-bot
  border-bottom border
  clearfix()

.pg-bot-header
  border-bottom border
  padding-bottom 2rem
  clearfix()

.pg-bot-header-left
  margin-bottom 2rem

  @media mq-med
    margin-bottom 0
    float left
    max-width 50rem

.pg-bot-header-right
  @media mq-med
    float right

.pg-bot-answers
  padding 3rem
  padding-left 0

  @media mq-med
    float left
    width pg-bot-answers-width

.pg-bot-header-right-explanation
  margin-bottom: 0.5rem

.pg-bot-question
  padding 6rem 3rem
  text-align center
  border-bottom border

  @media mq-med 
    padding 10rem 3rem
    width 100% - pg-bot-answers-width
    float right
    border-left border
    border-bottom 0

  > *
    margin-bottom 3rem

  form
    input[type="text"]
    input.form-control
      display inline-block
      ui-large()
      max-width 60rem

      @media mq-med
        min-width 45rem
