.at-form
  max-width 45rem
  margin 0 auto

.at-title
  h3
    type-large()

.at-social-btn
  float left
  width 50%

.at-auto
  clearfix()

.at-sep
  text-align center
  padding (grid-gutter/2) 0



button#at-facebook
  ui-btn color-facebook

button#at-twitter
  ui-btn color-twitter

.at-pwd-link
  type-ui()
  type-small()
  float right

.at-btn.submit
  @extend .ui-btn
  inline-block()

