// These are originally shown on the left side; we move them to bottom.

.header
  background-color color-grey-light
  h1.logo
    display inline-block
    margin -1rem 0 0 3.5rem
    vertical-align middle
    type-large()
    sans()
  .mobile-menu-button .hamburger
    fill black
  a.button, a.button:link
    background-color transparent

.mobile-nav-open
  .inner-wrapper
    position static // undo parent's "position relative"
  .header
    z-index 100
    position absolute
    top 0
    left 0
    width 100%
    height 3.5rem
  .mobile-nav
    margin-top 3.5rem
    width 100%

.post
  font-size 1rem

  display flex
  flex-direction column
  @media mq-med
    flex-direction row

  .center-modules
    order 1
    @media mq-med
      order 2

  .left-modules
    order 2
    @media mq-med
      order 1

  .right-modules
    display none
    @media mq-med
      display block
      order 3

  h1,h2,h3,h4,h5,h6
    line-height 1

  .post-heading, .post-heading a
    margin-bottom 0.5rem

  .post-upvote
    display inline-block
    white-space nowrap
    border-radius 2rem
    border 1px solid color-green
    background-color color-green
    color white
    padding 0.2rem 1rem
    .upvote-link,.post-rank
      color white
      type-sans-bold()
    .post-rank
      display inline-block
      border-right 1px solid color-grey-light
      border-size 80%
      padding-right 0.5rem

    .upvote-link.voted
      span
        display none

  .post-actions
    display inline-block


  a.comments-link:link
    float left

.more-button
  background-color color-purple
  type-sans-bold()
  text-align center
  &:link
    color white
