.flash-messages
  > *
    position relative
    max-width 40rem
    type-serif()
    type-regular
    box-shadow 0 0.1rem 0.1rem rgba(color-black, 0.25)
    color color-white
    padding 1rem

  .close
    position absolute
    top 50% 
    right 1em
    margin-top -0.8em

  .alert-danger
    background-color #D9534F

  .alert-warning
    background-color #E68A22

  .alert-success
    background-color #4FCFA2

  .alert-info
    background-color #4FCECF
