.flash-messages
  position fixed
  width 100%
  top (grid-gutter/2)
  left 0
  pointer-events none

  .alert
    pointer-events auto
    max-width 40rem
    margin 0 auto
    position relative
    type-serif()
    type-medium
    box-shadow 0 0.1rem 0.25rem rgba(color-black, 0.35)
    color color-white
    padding 1rem 1.5rem
    padding-right 3rem

  .close
    position absolute
    top 50% 
    right 1rem
    margin-top -0.8em
    type-xlarge()
    color color-white

  .alert-danger
  .alert-warning
    background-color color-red

  .alert-success
  .alert-info
    background-color color-purple
