.mod-dropdown-trigger
  position relative
  &:hover
    .mod-dropdown
      display block

.g-header-nav .mod-dropdown 
.mod-dropdown
  display none
  position absolute
  right 0
  top 100%
  background-color color-white
  min-width mod-dropdown-width
  ui-border-radius()
  text-align left
  box-shadow 0 0.1rem 1.5rem rgba(color-black, 0.25)

  li:last-child
    {class-list-header-links}
      border-bottom 0

  {class-list-header-links}
    display block
    padding 1rem
    type-small()
    border-bottom border
    transition-property none
    color color-link

    &:hover
      background-color color-grey-xlight

.mod-dropdown-center
  @extend .mod-dropdown
  pos-x-center mod-dropdown-width

