.mod-progress-bar
  background-color color-grey-light
  border-radius 5rem
  position relative
  height (space/2)
  width 100%

.mod-progress-bar-filled
  position absolute
  height 100%
  left 0
  background-color color-purple
  border-bottom-left-radius 5rem
  border-top-left-radius 5rem
