.mod-section
  padding 7.5rem 0
  position relative

.mod-section-dark
  @extend .mod-section
  background-color color-purple
  color color-white

.mod-section-grey
  @extend .mod-section
  background-color color-grey-xlight 

.mod-section-header
  margin-top 0
  margin-bottom mod-section-header-divide-space
  padding-bottom mod-section-header-divide-space
  position relative

  &:after
    content ''
    height mod-section-header-divide-height
    width mod-section-header-divide-width
    background-color color-green
    position absolute
    top 100%
    left 0
    margin-top -0.15em // arbitrary value, line height is adding to space
    margin-left -(mod-section-header-divide-width/10)


.mod-section-header-title
  type-huge()
  color color-type
  text-transform capitalize
  max-width: 75rem;

.mod-section-header-title-center
  @extend .mod-section-header-title
  margin 0 auto

.mod-section-header-subtitle
  margin-top 1rem
  margin-bottom 0
  type-large()

.mod-section-subtitle
  margin-bottom 1rem
  type-large()
  type-serif-bold()
  text-transform capitalize

.mod-space
  mod-space()
