mod-space(mult = 1)
  margin-top (grid-gutter/2*mult)
  margin-bottom (grid-gutter/2*mult)

mod-space-bottom(mult = 1)
  margin-bottom (1rem*mult)

mod-space-top(mult = 1)
  margin-top (grid-gutter/2*mult)

mod-space-right(mult = 1)
  margin-right (grid-gutter/2*mult)
  
mod-section()
  mod-space 4

mod-section-header()
  margin-top 0
  margin-bottom mod-section-header-divide-space
  position relative
