type-size(font line = 1.4)
  font-size unit(font 'px')
  font-size unit(font/10 'rem')
  line-height unit(line 'em')

type-secondary(important = false)
  if important
    color color-type-secondary !important
  else
    color color-type-secondary

remify(value)
    u = unit(value)

    if u is 'px'
      return unit(value/10 'rem')
    else
      return unit(value u)

serif(weight = 300, important = false)
  if important
    font-family "grad", "georgia", serif !important
    font-weight weight !important
  else
    font-family "grad", "georgia", serif
    font-weight weight

sans(weight = 300)
  font-family "ff-tisa-sans-web-pro", "helvetica neue", "helvetica", "arial", sans-serif
  font-weight weight

type-xsmall()
  type-size 12

type-small()
  type-size 14

type-medium()
  type-size 16

type-large()
  type-size 21 1.3

type-xlarge()
  type-size 30 1.5

type-huge()
  type-size 40 1.2

type-xhuge()
  type-size 60 1

type-serif()
  serif()

type-serif-bold()
  serif 600

type-sans-bold()
  sans 600

type-sans-uppercase()
  type-sans-bold()
  text-transform uppercase

type-ui()
  type-sans-bold()
  text-transform capitalize

type-header()
  type-serif-bold()
  text-transform capitalize

