ui-height(height, children = true)
  height height
  line-height height

  if children
    > *
      line-height height !important

ui-small()
  type-small()
  ui-height ui-small-height

  > *
    line-height ui-small-height

  .icon-x
  .icon-check
    type-size 14

ui-xsmall()
  type-small()
  ui-height ui-xsmall-height

  > *
    line-height ui-xsmall-height

ui-large()
  type-large()
  ui-height ui-large-height

  > *
    line-height ui-large-height

ui-base()
  type-size 18
  ui-height ui-height-default
  padding 0 ui-padding
  border-radius 0.2rem

  > *
    line-height 4.5rem

ui-unbtn()
  font-size inherit
  line-height inherit
  font-weight inherit
  color inherit
  background-color transparent
  margin 0 
  padding 0
  border-radius 0
  border 0
  vertical-align inherit

ui-btn-color(background-color, type-color = color-white)
  color type-color
  if background-color
    background-color background-color

  a
    color type-color

  &:hover
    color type-color
    if background-color
      background-color darken(background-color, 8)

ui-border-radius()
  border-radius ui-border-radius

ui-btn(background-color = color-green, type-color = color-white)
  transition background-color 0.15s
  text-align center
  border 0
  cursor pointer
  type-sans()
  ui-btn-color background-color, type-color
  ui-base()
  padding 0 ui-padding
  inline-block()
  ui-border-radius()

  > *
    inline-block()
    vertical-align top

    &.button-loader
      display none

  &:hover
    text-decoration none
