body
  background-color color-white
  margin 0

body,
input {
  font-family base-font-family
}

input,
button
  outline 0

ul
  list-style: none

li
  margin 0

ul,ol
  margin-top 0
  margin-bottom base-font-size

  ul, ol
    margin-bottom: 0


h1, h2, h3, h4, h5, h6
  margin 0
  font-weight normal

img
  max-width 100%

a
a:link
a:visited
a:active
  font-weight inherit

// BS3 override for radio buttons in forms
input[type=radio].form-control
  display: inline-block
  height: auto
  width: auto

.form-control
  +placeholder()
    font-size 80%
    line-height auto

input[type="submit"]:link
input[type="submit"]:hover
input[type="submit"]:active
input[type="submit"]:visited
button
button:link
button:hover
button:active
button:visited
.button:link
.button:hover
.button:active
.button:visited
.btn:link
.btn:hover
.btn:active
.btn:visited
  color inherit

button
  max-width inherit
  width auto
  background-color inherit
  padding 0
