.flash-messages
  .alert
    sans()
    text-align center
    box-shadow 0px 0px 5px #000

  .alert-danger
    background-color #FF2900
    color #000
    font-size 2rem
    sans(600)
    line-height 1.2
    text-align center
    border none
