vendor-prefixes = webkit, ms, moz, o

vendor(prop, arg)
  for prefix in vendor-prefixes
    -{prefix}-{prop} arg
    -{prop} arg

flex-container(dir = row)
  display -webkit-flex
  display flex

  vendor flex-direction dir

flex(val)
  -webkit-box-ordinal-group val
  -moz-box-ordinal-group val
  -ms-flex-order val
  -webkit-order val
  order val

ul-reset()
  list-style none
  margin 0
  padding 0

pos-y-center-companion()
  &:before
    content ''
    inline-block()
    vertical-align middle
    height 100%

dim(size)
  height size
  width size

inline-block(important = false)
  if important is true
    display inline-block !important
  else
    display inline-block
  vertical-align: middle

remove-button()
  background none
  border 0
  padding 0

type-size(font line = 1.5)
  font-size unit(font 'px')
  font-size unit(font/10 'rem')
  line-height unit(line 'em')

type-secondary()
  color color-type-secondary !important

remify(value)
    u = unit(value)

    if u is 'px'
      return unit(value/10 'rem')
    else
      return unit(value u)

serif(weight = 300)
  font-family "grad", "georgia", serif
  font-weight weight

sans(weight = 300)
  font-family "ff-tisa-sans-web-pro", "helvetica neue", "helvetica", "arial", sans-serif
  font-weight weight

type-small()
  type-size 13

type-medium()
  type-size 16

  @media mq-med
    type-size 18

type-regular()
  type-size 18
    
  @media mq-med
    type-size 20

type-large()
  type-size 24

  @media mq-med
    type-size 30

type-xlarge()
  type-size 30

type-huge()
  type-size 48 1.2

  @media mq-med
    type-size 60 1.1

type-xhuge()
  type-size 70 1

type-serif-bold()
  serif 600

type-sans-bold()
  sans 600

type-sans-uppercase()
  type-sans-bold()
  text-transform uppercase

type-ui()
  type-sans-bold()

ui-height(height)
  height height
  line-height height !important

ui-unbtn()
  font-size inherit
  line-height inherit
  font-weight inherit
  color inherit
  background-color transparent
  margin 0 
  padding 0
  border-radius 0
  border 0
  vertical-align inherit

ui-btn(background-color, type-color = color-white)
  @extend .ui-base
  type-ui()
  padding 0 1em
  border-radius 0.2rem
  inline-block()
  border-radius 10rem

  if background-color
    background-color background-color

  color type-color

  a
    color type-color

  > *
    inline-block()
    vertical-align top

  &:hover
    if background-color
      background-color darken(background-color, 8)
    color type-color
    text-decoration none

grid-col(num)
  margin-bottom grid-gutter
  padding-bottom grid-gutter
  width 100%
  border-bottom border-secondary

  &:last-child
    border-bottom 0

  &.grid-no-y-space
    margin-bottom 0
    padding-bottom 0
    border-bottom 0

  @media mq-med
    float left
    border 0

    if num is 4
      width 50%
      &:nth-of-type(odd)
        clear both

    if num is 2
      &:nth-of-type(odd)
        clear both

  @media mq-lg
    border-bottom 0
    width (100%/num)

    if num is 3 or num is 4
      &:nth-of-type(odd)
        clear none

placeholder()
  &:-moz-placeholder
    {block}

  &::-moz-placeholder
    {block}

  &:-ms-input-placeholder
    {block}

  &::-webkit-input-placeholder
    {block}
  

alt-on-dark(important = false)
  if important
    color color-white !important

    a
      color color-white !important
  else
    color color-white

    a
      color color-white


