.pos-y-center-companion
  pos-y-center-companion()

// Vertical centering alternative using this technique:
// http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
.translate-y-center-parent
  transform-style: preserve-3d
  height 100%

.translate-y-center-child
  position relative
  top 50%
  transform translateY(-50%)

.pos-inline-block
  inline-block()

.pos-relative
  position relative

.pos-right
  float right

.pos-left
  float left

.pos-clearfix
  clearfix()
