html
  font-size base-font-size
  color color-type

body,
input,
button
  -webkit-font-smoothing antialiased
  type-medium()
  color color-type

body,
input
  serif()

form
  +ui-form-inputs()
    type-medium()

// Placeholder styles can't be stacked with any other selector, or browsers
// ignore them.
input
  +placeholder()
    // Careful setting sizes without checking line-heights in firefox and chrome
    type-secondary()

h1, h2, h3, h4, h5, h6
  color color-type

a, a:link, a:visited
  color color-link

h1, h2, h3, h4, h5, h6
  font-weight bold

.mod-section-dark
  h1, h2, h3, h4, h5, h6
    color color-white

heading-size(font)
  font-size: font
  line-height: (0.666 * font)

h1
  heading-size(4rem)
h2
  heading-size(3rem)
h3
  heading-size(2.4rem)
h4
  heading-size(2rem)
h5
  heading-size(1.6rem)
h6
  heading-size(1.2rem)

a
  transition color 0.2s

  &:hover
    color darken(color-green, 12)
    text-decoration none

.alt-on-dark
  alt-on-dark()

.type-serif-bold
  type-serif-bold()

.type-sans-bold
  type-sans-bold

.type-sans-uppercase
  type-sans-uppercase()

.type-small
  type-small()

.type-medium
  type-medium()

.type-medium
  type-medium()

.type-large
  type-large()

.type-xlarge
  type-xlarge()

.type-huge
  type-huge()

.type-xhuge
  type-xhuge()

.type-left
  text-align left

.type-center
  text-align center

.type-right
  text-align right

.type-secondary
  type-secondary()

  a
    color color-link

.type-color-white
  color color-white !important

.type-capitalize
  text-transform capitalize

.type-ui
a.type-ui
  type-ui()
