form
  +ui-form-inputs()
    ui-base()
    display inline-block
    vertical-align middle
    type-serif()
    padding 0 1em
    background-color color-grey-xlight
    border 0 
    color color-type
    text-shadow 0 0 0 rgba(color-white, 0)

    &:focus
      box-shadow 0 0 0 rgba(color-white, 0)
      background-color darken(color-grey-xlight, 3)
      border-color color-green

    &.ui-small
      ui-small()

.ui-form-phone
  max-width 15.5rem

.fieldset-heading
  border-bottom border
  padding-bottom row-space
  margin-bottom row-space
