.ui-base
  ui-height 4.5rem
  padding 0 1em
  border-radius 0.2rem

.ui-large
  @media mq-med
    type-large()
    ui-height 5.5rem

.ui-small
  type-small()
  ui-height 3rem

.ui-btn
  @extend .ui-base
  inline-block()
  type-sans-uppercase()
  padding 0 1.5em
  inline-block()
  background-color color-green
  border 0
  color white !important
  transition background-color 0.15s
  text-align center
  box-shadow 0 0.1rem 0.25rem rgba(color-black, 0.25)
  cursor pointer
  border-radius 10rem
  ui-btn-color color-green

  .icon-carat-right
    type-size 15

  &:hover
    color color-white
    text-decoration none

.ui-btn-secondary
  @extend .ui-btn
  ui-btn-color color-grey-dark

.ui-btn-on-green
  @extend .ui-btn
  ui-btn-color darken(color-green, 8)
  box-shadow 0 0 0 color-white

.ui-btn-small
  @extend .ui-btn
  @extend .ui-small

.ui-btn-large
  @extend .ui-btn
  @extend .ui-large

  .icon-carat-right
    type-size 20


.ui-btn-icon-right
  margin-left 1em

ul.disc
  list-style: disc
