font-family = ''
base-font-size = 10px
img-path = '/packages/admithub_admithub-telescope-theme/public/img/' 
space = 1rem
row-space = (space*2)

layout-space = 1.4rem

g-header-height = 7rem
g-header-row-height = g-header-height*0.65
g-header-search-height = 3.5rem
g-header-search-mobile-height = 5rem
g-header-search-input-padding = 2rem
g-header-nav-space = 0.75rem
g-header-touts-sponsor-height = 3rem

mod-section-header-divide-width = 7.5rem
mod-section-header-divide-height =  0.1rem
mod-section-header-divide-space = grid-gutter
mod-dropdown-width = 17.5rem

comment-avatar-width = 4.5rem
comment-width = 75rem

color-white = #fff
color-black = #000
color-grey-xlight = #ebe6ea
color-grey-light = #baadb7
color-grey-med = #aaa
color-grey-dark = #736D72
color-grey-xdark = #222
color-green = #76ba45
color-purple = #7f296b
color-red = #CC3B19
color-maroon = #7f296b
color-type = color-grey-xdark
color-type-secondary = #80777d
color-twitter = #00aced
color-facebook = #3b5998 
color-linked-in = #007bb6
color-github = #222
color-google-plus = #C63D2D

color-link = color-purple

border = 0.1rem solid #ccbec9

border-secondary-on-dark = border-style rgba(color-white, 0.25)

ui-padding = 1em
ui-border-radius = 0.1rem

ui-height-default = 3.75rem
ui-small-height = 3rem
ui-xsmall-height = 2.25rem
ui-large-height = 6rem

class-list-inputs = '.ui-f-input, input[type=text], input[type=password], input[type=email]'

grid-gutter = layout-space*2
grid-width = 115rem
grid-page-gutter = 4.5rem
grid-page-gutter-mobile = grid-page-gutter/2

pg-home-bullets-icon-size = 7.5rem
pg-home-team-member-avatar-width = 30%
pg-home-newsletter-left-width = 35%
pg-home-newsletter-submit-width = 17rem

pg-products-product-top = -1.5rem
pg-products-featured-product-top = -3rem
pg-products-product-height = 48rem
pg-products-padding = 3rem

pg-partners-img-width = 12.5rem
pg-partners-contrib-avatar-width = 8.5rem

mq-sm-width  = 400px
mq-med-width = 895px
mq-lg-width  = 1012px
mq-xlg-width  = 1500px

mq-text = "only screen and (min-width: "
mq-desktop-first-text = "only screen and (max-width: "

mq-sm      = mq-text + mq-sm-width + ")"
mq-med     = mq-text + mq-med-width + ")"
mq-lg      = mq-text + mq-lg-width + ")"
mq-xlg     = mq-text + mq-xlg-width + ")"
mq-med-desk = mq-desktop-first-text + mq-med-width + ")"
mq-sm-desk = mq-desktop-first-text + mq-sm-width + ")"

at-sep-height = 0.1rem
