font-family = ''
base-font-size = 10px

g-header-height = 6rem
g-header-search-height = 3.5rem
g-header-search-mobile-height = 5rem
g-header-search-input-padding = 2rem

mod-section-header-divide-width = 10rem
mod-section-header-divide-height =  0.3rem
mod-section-header-divide-space = 3rem

color-white = #fff
color-black = #000
color-grey-xlight = #ebe8e9
color-grey-light = #d9d4d7 
color-grey-med = #aaa
color-grey-dark = #736D72
color-grey-xdark = #333032 
color-green = #89bf00
color-purple = #7f296b
color-type = #403d3f
color-type-secondary = #736d71 
color-twitter = #00aced
color-linked-in = #007bb6
color-github = #222

color-link = color-green

border-style-primary = 2px solid
border-style-secondary = 1px solid

border-grey-med = border-style-primary #d7d4d6
border-secondary = border-style-primary color-grey-light
border-secondary-light = border-style-primary color-grey-xlight
border-tertiary = border-style-secondary color-grey-light

ui-padding = 1em
ui-small-height = 3rem

grid-gutter = 3rem
grid-width = 140rem
grid-page-gutter = 4.5rem
grid-page-gutter-mobile = grid-page-gutter/2

pg-home-bullets-icon-size = 7.5rem
pg-home-team-member-avatar-width = 30%
pg-home-newsletter-left-width = 35%
pg-home-newsletter-submit-width = 17rem

pg-products-product-top = -1.5rem
pg-products-featured-product-top = -3rem
pg-products-product-height = 48rem
pg-products-padding = 3rem

mq-sm-width  = 400px
mq-med-width = 748px
mq-lg-width  = 1012px
mq-xlg-width  = 1500px

mq-text = "only screen and (min-width: "
mq-desktop-first-text = "only screen and (max-width: "

mq-sm      = mq-text + mq-sm-width + ")"
mq-med     = mq-text + mq-med-width + ")"
mq-lg      = mq-text + mq-lg-width + ")"
mq-xlg     = mq-text + mq-xlg-width + ")"
mq-med-desk = mq-desktop-first-text + mq-med-width + ")"
mq-sm-desk = mq-desktop-first-text + mq-sm-width + ")"
