.g-header-wrap
  z-index 10

.g-header-logo
.g-header-hamburger
  z-index 10
  position relative

.g-header-hamburger
  &.open
    .icon-x
      z-index auto

    .icon-hamburger
      z-index -1000

  .icon-x
    z-index -1000

.g-header-cta-wrap
  z-index 11
  position relative

.g-header-nav
  z-index 9

.pg-home-nav-wrap
  z-index 11

.flash-messages
  z-index 12
  
