.g-header
  border-bottom border-secondary

  .mod-dropdown
    display block
    position static

    @media mq-med
      position absolute
      display none

.g-header-wrap
  background-color color-white

.g-header-nav,
.g-header-nav .dropdown-menu
  background-color color-white

  @media mq-med
    background-color transparent

.g-header-logo
  z-index 10
  position relative

.g-header-nav
  a
    type-medium()

    @media mq-med
      type-small()
      line-height g-header-height

.g-header-hamburger
  float left
  padding 0 (grid-gutter/2)
  margin-left -(grid-gutter/2)
  color color-link

  .icon-x
    position absolute
    opacity 0

  &.open
    .icon-x
      position static
      opacity 1

    .icon-hamburger
      position absolute
      opacity 0

.g-header-cta-wrap
  pos-y-center-companion()
  inline-block()
  height g-header-height

.g-header-cta
  margin-left (grid-gutter/2)

.g-header-nav-admin
  > a
    border-bottom 0

.g-header-nav-user-sign-up
  margin-left g-header-nav-space
