.newsletter-banner-wrap
  position relative

.newsletter-banner-form
  padding grid-gutter 0
  clearfix()
  border-bottom border-tertiary

.newsletter-dismiss
  position absolute
  top 0
  right 0 
  height auto

.ah-newsletter-button
  width 100%
  display block
