.newsletter-banner-wrap
  margin-top -(grid-gutter/2)
  margin-bottom grid-gutter
  padding (grid-gutter/2)
  padding-bottom 0
  background-color color-purple
  clearfix()
  position relative
  alt-on-dark()

.newsletter-banner-form
  alt-on-dark()
  max-width 90rem
  margin 0 auto

.newsletter-dismiss
  position absolute
  top (grid-gutter/2)
  right (grid-gutter/2)
  height auto

.newsletter-button
  width 100%
  display block
