.g-header-nav
  .notifications-menu
    @extend .mod-dropdown-trigger
    display block
    margin-right 0 

    @media mq-med-desk
      ui-border-radius()
      a
        padding (grid-gutter/2)

    @media mq-med-desk
      margin-bottom 0.75rem

    @media mq-med
      inline-block()

    .mod-dropdown
      width 25rem
      type-small()
      type-serif()

      @media mq-med-desk
        background-color transparent

      li
        padding (grid-gutter/2)
        border-bottom border-tertiary-light

        &:last-child
          border-bottom 0

      a
        border-bottom 0
        padding 0
