.posts
  margin 0 auto
  mod-space-bottom()

  .post-body
  .post-body p
    type-medium()

h1.post-list-title
  type-huge()
  mod-section-header()
  mod-space 2

.post
  row()

  .center-modules
    width 100%
    display block

  .user-tag
    ui-unbtn()

  .post-upvote
    ui-unbtn()

.post-heading
  type-large()

.post-title
  display block
  margin-bottom 1rem

.post-meta
  type-small()
  color color-type-secondary
  line-height inherit
  margin-bottom 0.5rem

.post-categories
  type-small()
  type-secondary()
  margin-bottom 0.5rem

.post-upvote
  type-medium()

.post-upvoted
  &:hover
    .post-upvoted
      display none
    .post-unupvote
      inline-block()
      vertical-align top

  .post-rank
    border-left border-secondary-light

.post-rank
  border-left border-style rgba(color-white, 0.25)
  margin-left ui-padding - 0.4rem
  padding-left ui-padding

.post-unupvote
  display none
  line-height ui-small-height

  &:hover
    color color-green

.delete-link
a.delete-link
  color: rgb(216, 32, 32, 1)

.post-link
a.post-link
  margin-left 0.5rem
  type-secondary()
  type-small()
  inline-block()
