.single-post
.posts
  mod-space-bottom()
  max-width: 65rem

  .post-body
  .post-body p
    type-medium()

h1.post-list-title
h1.post-edit-title
  type-huge()
  type-header()
  mod-section-header()

.post
  row()

  .center-modules
    width 100%
    display block

  .user-tag
    ui-unbtn()

  .post-upvote
    ui-unbtn()

.single-post
  .post
    row-base()

.post-heading
  type-large()

a.post-title
  display block
  margin-bottom 1rem
  color color-type

.post-meta
  type-small()
  color color-type-secondary
  line-height inherit
  margin-bottom 0.5rem

.post-categories
  type-small()
  type-secondary()
  margin-bottom 0.5rem

.post-upvote
  type-medium()

.post-upvoted
  &:hover
    .post-upvoted
      display none
    .post-unupvote
      inline-block()
      vertical-align top

  .post-rank
    border-left border-secondary

.post-rank
  border-left border-style rgba(color-white, 0.25)
  margin-left ui-padding - 0.4rem
  padding-left ui-padding

.post-unupvote
  display none
  line-height ui-small-height

  &:hover
    color color-green

.delete-link
a.delete-link
  color: rgb(216, 32, 32, 1)

.ah-share-options
  position absolute
  background-color color-white
  box-shadow 0px 0px 2px rgba(0,0,0,0.5)
  padding 2rem
  // CSS left-pointing arrow with border
  &:after, &:before
    right 100%
    top 50%
    border solid transparent
    content " "
    height 0
    width 0
    position absolute
  &:after
    border-color rgba(255,255,255,0)
    border-right-color color-white
    border-width 10px
    margin-top -10px
  &:before
    border-color rgba(255,255,255,0)
    border-right-color rgba(0,0,0,0.2)
    border-width 11px
    margin-top -11px

.post-share-icon
a.post-share-icon
  display inline-block
  & i
    margin-top 0.25em
    display inline-block
  text-align center
  width 2em
  height 2em
  &:hover
    color white
    box-shadow 0px 0px 2px rgba(0,0,0,0.5)
  &.facebook:hover
    background-color #3B5998
  &.twitter:hover
    background-color #55acee
  &.linked-in:hover
    background-color #4875B4
  &.google-plus:hover
    background-color #C63D2D


input[type='text'].white-input
  background-color white
  border 1px solid #aaa


.post-actions
  > * 
    margin-right (space/2)
