.post
  display block
  margin-bottom grid-gutter
  padding-bottom grid-gutter
  border-bottom border-secondary

  .center-modules
    width 100%
    display block

  .user-tag
    color inherit
    background none
    font-weight inherit
    padding 0
    font-size inherit
    border-radius 0

.post-heading
  type-large()

.post-meta
  type-medium()
  color color-type-secondary
  line-height inherit
