.template-user_profile
  h3
    type-xlarge()
    type-serif-bold()

.user-profile
.user-profile-posts
.user-profile-votes
  row()
  border-bottom border-secondary

.user-profile
  table
    mod-space-bottom()

  a
    float right

.user-edit
  mod-space 3

  h2
    type-huge()
    type-serif-bold()
    mod-space-bottom 3

  h3
    type-serif-bold()
    mod-space 2
