@font-face {
	font-family: 'admithub';
	src:url('/packages/admithub_admithub-telescope-theme/public/icons/admithub.eot?-1lzzrn');
	src:url('/packages/admithub_admithub-telescope-theme/public/icons/admithub.eot?#iefix-1lzzrn') format('embedded-opentype'),
		url('/packages/admithub_admithub-telescope-theme/public/icons/admithub.woff?-1lzzrn') format('woff'),
		url('/packages/admithub_admithub-telescope-theme/public/icons/admithub.ttf?-1lzzrn') format('truetype'),
		url('/packages/admithub_admithub-telescope-theme/public/icons/admithub.svg?-1lzzrn#admithub') format('svg');
	font-weight: normal;
	font-style: normal;
}
