@font-face {
	font-family: 'admithub';
	src:url('/icons/admithub.eot?o4c4t');
	src:url('/icons/admithub.eot?#iefixo4kc4') format('embedded-opentype'),
		url('/icons/admithub.woff?o4k4t') format('woff'),
		url('/icons/admithub.ttf?o4kct') format('truetype'),
		url('/icons/admithub.svg?o4kct#admithub') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  icon()
}

@font-face {
	font-family: 'admithub';
	src:url('fonts/admithub.eot?h890u');
	src:url('fonts/admithub.eot?#iefixh890u') format('embedded-opentype'),
		url('fonts/admithub.woff?h890u') format('woff'),
		url('fonts/admithub.ttf?h890u') format('truetype'),
		url('fonts/admithub.svg?h890u#admithub') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'admithub';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-chat:before {
	content: "\e611";
}
.icon-buzzfeed:before {
	content: "\e600";
}
.icon-carat-right:before {
	content: "\e601";
}
.icon-check:before {
	content: "\e602";
}
.icon-facebook:before {
	content: "\e603";
}
.icon-github-octocat:before {
	content: "\e604";
}
.icon-google-plus:before {
	content: "\e605";
}
.icon-hamburger:before {
	content: "\e606";
}
.icon-how-to-get-into-your-harvard:before {
	content: "\e607";
}
.icon-linked-in:before {
	content: "\e608";
}
.icon-magnifying-glass:before {
	content: "\e609";
}
.icon-plus:before {
	content: "\e60a";
}
.icon-robot:before {
	content: "\e60b";
}
.icon-start:before {
	content: "\e60c";
}
.icon-talking:before {
	content: "\e60d";
}
.icon-tumblr:before {
	content: "\e60e";
}
.icon-twitter-bird:before {
	content: "\e60f";
}
.icon-x:before {
	content: "\e610";
}

