@font-face {
	font-family: 'admithub';
	src:url('icons/admithub.eot?h890u');
	src:url('icons/admithub.eot?#iefixh890u') format('embedded-opentype'),
		url('icons/admithub.woff?h890u') format('woff'),
		url('icons/admithub.ttf?h890u') format('truetype'),
		url('icons/admithub.svg?h890u#admithub') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'admithub';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-link:before {
	content: "\e613";
}

.icon-buzzfeed:before {
	content: "\e600";
}

.icon-carat-right:before {
	content: "\e601";
}

.icon-chat-triangle:before {
	content: "\e602";
}

.icon-check:before {
	content: "\e603";
}

.icon-facebook:before {
	content: "\e604";
}

.icon-github-octocat:before {
	content: "\e605";
}

.icon-google-plus:before {
	content: "\e606";
}

.icon-hamburger:before {
	content: "\e607";
}

.icon-how-to-get-into-your-harvard:before {
	content: "\e608";
}

.icon-linked-in:before {
	content: "\e609";
}

.icon-logo:before {
	content: "\e60a";
}

.icon-magnifying-glass:before {
	content: "\e60b";
}

.icon-plus:before {
	content: "\e60c";
}

.icon-robot:before {
	content: "\e60d";
}

.icon-start:before {
	content: "\e60e";
}

.icon-talking:before {
	content: "\e60f";
}

.icon-tumblr:before {
	content: "\e610";
}

.icon-twitter-bird:before {
	content: "\e611";
}

.icon-x:before {
	content: "\e612";
}


